
<div class="max-w-xl mx-auto w-full pt-5 flex flex-col">
    <label 
        for="title"
        class="text-xl font-extralight"
        >Title</label>
    <input 
        type="text" 
        id="title"
        [(ngModel)] = 'title'
        class="border border-green-800 w-full py-1 text-lg rounded-md outline-green-500"
        >
        
    <label 
        for="content"
        class="text-xl font-extralight mt-4"
        >Content</label>
    <textarea 
        type="text" 
        id="content"
        [(ngModel)] = 'content'
        class="border border-green-800 w-full py-1 text-lg rounded-md outline-green-500"
        ></textarea>
    <button 
        class="font-extralight py-2 px-4 rounded-md w-fit mt-5 text-lg text-white bg-green-500"
        (click)="onCreatePost({title, content})"
        >Send post</button>
</div>
<div class="max-w-xl mx-auto w-full pt-5 flex flex-row items-center gap-1">
    <button 
        class="py-2 px-4 rounded-md w-fit mt-5 text-lg text-white bg-green-500 font-extralight"
        (click)="onFetchPosts()"
        >Fetch posts</button>
    <div class="h-5  w-0.5 relative top-2.5 bg-gray-500"></div>
    <button 
        class="py-2 px-4 rounded-md w-fit mt-5 text-lg text-white bg-red-500 font-extralight"
        (click)="deletePosts()"
        >Clear posts</button>
</div>

<div *ngIf="isFetching && !error" class=" max-w-xl mx-auto w-full pt-2 flex items-center justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 animate-spin">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
      </svg>
</div>
<div *ngIf="loadedPosts.length != 0;else noPosts" 
    class="max-w-xl mx-auto w-full pt-5">
    <div 
        *ngFor="let post of loadedPosts"
        class="flex flex-col p-2 mb-2 bg-green-200 rounded-md"
        >
        <h1 class="text-lg">{{post.title}}</h1>
        <h1 class="">{{post.content}}</h1>
    </div>
    
</div>
<ng-template 
    #noPosts
    class="max-w-xl mx-auto w-full pt-5"
    >
    <h1 class="text-center mt-10">No posts available</h1>
</ng-template>
<div *ngIf="error && errorHidden === false" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded absolute bottom-0 w-full" role="alert">
    <strong class="font-bold">Error!</strong>
    <span class="block sm:inline"> {{error}}</span>
    <span (click)="errorHidden = true" class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
    </span>
</div>